.dialog-content {
  display: flex;
  flex-direction: column;

  label {
    display: block;
    font-weight: 500;
  }

  .p-inputtext,
  .p-inputnumber {
    width: 100%;
  }
}

.pb2 {
  margin-bottom: 1rem;
}
