.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .p-inputtext,
  .p-inputnumber {
    width: 100%;
  }
}

.pb2 {
  margin-bottom: 1rem;
}

.d-flex {
  display: flex;
  gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;

    > div {
      width: 100% !important; // Sobrescreve os width inline
      margin: 0 !important; // Remove as margens inline
    }
  }
}

.space-between {
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    > p-button {
      width: 100%;
      margin-top: 1rem;
    }
  }
}

.mr2 {
  margin-right: 1rem;

  @media (max-width: 768px) {
    margin-right: 0;
  }
}

.ml2 {
  margin-left: 1rem;

  @media (max-width: 768px) {
    margin-left: 0;
  }
}

.flex-70 {
  width: 70%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.flex-30 {
  width: 30%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.flex-60 {
  width: 60%;

  @media (max-width: 768px) {
    width: 100%;
  }
}
