:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

::ng-deep .p-card {
  width: 100%;
  width: 30vw;

  .p-card-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }

  .p-inputtext,
  .p-password,
  .p-button {
    width: 100%;
  }
}

.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  input,
  p-password,
  p-button {
    width: 100%;
  }
}

.cursor {
  cursor: pointer;
}
